{% extends "base.html" %}
{% load static%}


{%block title%} Services {%endblock title%}

{%block body %}

{% if service_page.show_partner_logos and partner_logos %}
<div class="logo-belt">
    <div class="logo-track">
      {% for logo in partner_logos %}
      <div class="logo">
        {% if logo.url %}
          <a href="{{ logo.url }}" target="_blank">
            <img src="{{ logo.logo.url }}" class="rounded-circle img-fluid" width="250" height="240" alt="{{ logo.name }}">
          </a>
        {% else %}
          <img src="{{ logo.logo.url }}" class="rounded-circle img-fluid" width="250" height="240" alt="{{ logo.name }}">
        {% endif %}
      </div>
      {% endfor %}
      <!-- Repeat logos for scrolling effect -->
      {% for logo in partner_logos %}
      <div class="logo">
        {% if logo.url %}
          <a href="{{ logo.url }}" target="_blank">
            <img src="{{ logo.logo.url }}" class="rounded-circle img-fluid" width="250" height="240" alt="{{ logo.name }}">
          </a>
        {% else %}
          <img src="{{ logo.logo.url }}" class="rounded-circle img-fluid" width="250" height="240" alt="{{ logo.name }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="contianer my-5">
    <h1 class="featurette-heading fw-normal lh-1 py-2 text-center"><span class="text-body-secondary">{{ service_page.partner_section_title }}</span></h1>
  </div>
  <hr class="featurette-divider my-5">
{% endif %}

  <div class="container my-4">
    <div class="row featurette text-center">
      <div class="col-12">
        <h2 class="featurette-heading fw-normal lh-1 py-2"><span class="text-body-secondary">{{ service_page.heading }}</span></h2>
        <p class="lead">
          {{ service_page.content|linebreaksbr }}
          <span><a href="{% url 'contact' %}">Contact us here !</a></span>
        </p>
      </div>
    </div>
  </div>
  


{%endblock body %}
